<form id="editQuestion" method="post" ng-submit="onQuestionSave(selectedQuestion)">
  <div class="modal-header">
    <button type="button" class="close" ng-click="editQuestionClose()">&times;</button>
    <h4 class="modal-title">Edit Question</h4>
    <div class="form-inline pull-right wrapper">
      <label for="createdOn">Created Dated:</label>
      <label class='divider' name="createdOn"><em>{{dateFormater(selectedQuestion.createdOn) | date:'MM/dd/yyyy'}}</em></label>
      <label for="lastEdited">Last Edited:</label>
      <label><em>{{dateFormater(selectedQuestion.lastEdited) | date:'MM/dd/yyyy'}}</em></label>
      <input type="hidden" id="lastEdited" name="lastEdited" value="{{selectedQuestion.lastEdited}}"/>
    </div>
  </div>
  <div class="modal-body">
    <div class="form-group" ng-class="{'has-error' : !selectedQuestion.question}">
      <input type="hidden" name="questionId" value="{{questionId}}" />
      <label for="question">Question: </label><strong class="required text-danger">*</strong>
      <textarea type="text" class="form-control" name="question" rows="4" ng-model="selectedQuestion.question" title="Question cannot be empty." required>
      </textarea>
    </div>
    <div class="form-group">
      <label for='options'>Options:</label><strong class="required text-danger">*</strong>
      <uib-tabset>
        <uib-tab ng-repeat="tab in tabs" active="tab.active">
          <uib-tab-heading>
            Option {{$index + 1}} <button ng-click="deleteOption($index)" class="close">&times;</button>
          </uib-tab-heading>

          <div class="form-group" ng-class="{'has-error' : !tab.content}">
            <textarea class="form-control" rows="4" name="option{{$index+1}}" tooltip-trigger="focus" ng-model="tab.content" uib-tooltip="Option ({{$index + 1}}) cannot be empty." tooltip-enable="!tab.content" title="Option ({{$index+1}}) cannot be empty.">
              {{tab.content}}
            </textarea>
          </div>
        </uib-tab>
        <uib-tab heading="+" select="addOption()">
        </uib-tab>
      </uib-tabset>
    </div>
    <div class="form-group" ng-class="{'has-error' : !selectedQuestion.correctIndex}">
      <label for="correctIndex">Correct index:</label><strong class="required text-danger">*</strong>
      <input type="number" class="form-control" ng-model="selectedQuestion.correctIndex" name="correctIndex" min="1" max="{{tabs.length}}" title="Correct Index cannot be empty." required />
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="text" class="form-control" name="image" value="{{selectedQuestion.image}}" />
    </div>
    <div class="wrap">
      <div class="form-inline" ng-class="{'has-error' : !selectedQuestion.correctIndex}">
        <label for="topicId">Topics:</label><strong class="required text-danger">*</strong>
        <div ng-if="selectedQuestion.topics.length > 0" ng-repeat="topic in selectedQuestion.topics.replace('/\s/g','').split(',') track by $index" class="well well-sm topics">
          {{topic}}
          <button type="button" class="close" ng-click="deleteTopic($index)">&times;</button>
        </div>
      </div>
      <div class="form-inline" data-toggle="tooltip">
        <strong id="messageArea" class="text-warning">{{messages[messageSelect]}}</strong>
        <input type="text" class="form-control" list="topicList" placeholder="Enter Topics to add" ng-model="topicName" ng-disabled="newTopicForm" tooltip-trigger="focus" uib-tooltip="Topic cannot be empty." tooltip-enable="!topicName" />
        <input type="button" class="form-control btn btn-warning" ng-hide="newTopicForm" value="Add" ng-click="addNewTopic()" />
        <input type="hidden" name="topicsIds" ng-model="selectedQuestion.topicId"/>
        <div class="animate-show" ng-hide="!newTopicForm">
          <input type="text" class="form-control" list="categoryList" placeholder="Enter category to add" ng-model="categoryName" ng-disabled="newCategoryForm" />
          <input type="button" class="form-control btn btn-warning" ng-hide="newCategoryForm" ng-click="addCategories()" value="Add" />
          <input type="button" class="form-control btn btn-default" ng-hide="newCategoryForm" ng-click="cancelCategories()" value="Cancel" />
          <p></p>
        </div>
        <div class="animate-show" ng-hide="!newCategoryForm">
          <strong class="text-warning" >Are you sure you want to add new Category?</strong>
            <input type="button" class="form-control btn btn-warning" id="yesBtn" value="Yes" ng-click="onYesBtnClick()"/>
            <input type="button" class="form-control btn btn-default" id="noBtn" value="No" ng-click="onNoBtnClick()"/>
        </div>
      </div>
    </div>
    <div class="form-inline">
      <label for="categories">Categories:</label>
      <em><label id="categories" name="categories" >{{selectedQuestion.categories}}</label></em>
    </div>
    <div class="form-group">
      <label for="difficultyLevel">Difficulty Level:</label>
      <label  class='divider' name="difficultyLevel">{{selectedQuestion.difficultyLevel}}</label>
      <label for="timesUsed">Times Used: </label>
      <label  class='divider' name="timesUsed">{{selectedQuestion.timesUsed}}</label>
      <label for="correctRatio">Correct Ratio:</label>
      <label  class='divider' name="correctRatio">{{selectedQuestion.correctRatio}}</label>
      <label for="frequency">Frequency:</label>
      <label name="frequency">{{selectedQuestion.frequency}}</label>
      <input type="hidden" name="requestType" value="edit" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="editQuestionClose()">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
  <datalist id="topicList">
    <option value="{{x}}" ng-repeat="x in topics">
  </datalist>
  <datalist id="categoryList">
    <option value="{{x}}" ng-repeat="x in categories">
  </datalist>
</form>
