.container-fluid{
  margin: 0;
  padding: 0;
}

#listForSearchResults{
  font-family: nunito;
}

.responsive-width {
    font-size: 2vw;
}

.panel-title,.panel-footer,#containerForNumberOfSearchResult,#guidingTextForSearchResult {
    font-size: 20px;
}

.radio{
  text-align: justify;
}
