body{
  font-family: 'Open Sans Condensed', sans-serif;
}
.glyphicon.glyphicon-send.glyphicon-exclamation-sign {
  font-size: 70px;
}

.badge{
  font-size: 30px;
}
.runningJobGif{
  background: url("../images/runningJob.gif") no-repeat center #fff;
}

img{
    width: 35px;
}
