extends layout

block content
  #mainDivForWholeBody
    #introDiv.container-12
      span#introDivText
      button#skipButton.btn.btn-success.btn-block S T O P
    
    
    header
    .container-12
      h1.well.text-center
        strong Question Generator    
        button#needHelp.btn.btn-default  Need Help ?
        
    //end of header container-12
    main
    .container
      .row.text-center
        h3.text-info
          strong Enter a sample question!  
          small Eg. Sachin Tendulkar is from which country ?
      // end row
      .row#questionInput
        .input-group
          input#sampleQuestion.form-control(type="text", placeholder="Your sample question")
          span.input-group-btn
            button#sampleQuestionButton.btn.btn-default.btn-success(type="button") Go!
        // /input-group
      .row
        button#resetPage.btn.btn-danger.btn-block Reset
        
      #analyzeQuestionDiv
        #checkBoxDiv
          .row.text-center
            .col-lg-12
              h4.text-danger 
                strong Select The Words Which Shall Act as Variable   
                small (E.g "Sachin Tendulkar" is a variable in question "Sachin Tendulkar is from which country ?")
            .col-lg-12
              .input-group.well
                #cbList.input-group-addon
              // /input-group
            // /.col-lg-12
            .text-center
              button#getVariableList.btn.btn-info Done
        #radioDiv
          .row.text-center
            .col-lg-12
              h4.text-danger 
                strong Select the word which will be your option  
                small (E.g "country" will be option in question "Sachin Tendulkar is from which country ?")
            .col-lg-12
              .input-group.well
                #rdList.input-group-addon
              // /input-group
            // /.col-lg-12
            .text-center
              button#getOption.btn.btn-info Done
        
        //- .row#displayAfterCheckAndRadio
        #propertySuggestion.col-lg-12
          #propertySuggestionRow.panel.panel-default
            .panel-heading
              h3.panel-title.text-center
                strong Help Me to Understand What You meant By Your Option !
            .panel-body
              ul#propertyNames.list-group
            // end panel body
        // end col-lg-6
        #entity.col-lg-12
          .panel.panel-default
            .panel-heading
              h3.panel-title.text-center
                strong Click On The Item Which Resembles Closet To Your Variable
            .panel-body
              ul#entityOptions.list-group
            // end panel body
      // end row
      #descriptionListDiv
        .row#descriptionListDivInner
          #entityDescriptionHeader
            h3.panel-title.text-center
              strong Help Me Understand Which One of These Is Most Relevant One
          .col-lg-12
            .input-group.well
              #descriptionList.input-group-addon
          // /input-group
        // /.col-lg-12
        .text-center
          button#selected.btn.btn-info Done
          button#loadQuestions.btn.btn-success Load Questions
            
      .well.text-center#showGeneratedQuestionsOuter
        #showGeneratedQuestionsheader.panel-heading
        .row#questionListHeading
          .col-3.text-center
            h3 Questions List:
        // end row
        #showGeneratedQuestions.panel-body
          
          hr
          ul#questionList.list-group
        // end panel body
    #spinner
     strong#loadingText Surfing thru 15,887,129 Wikidata items.....  
    
