    <div class="container">
      <div class="row text-center">
        <h2><strong>Welcome to question generation app!</strong></h2>
      </div><!--end row-->
      <div class="row text-center">
        <div class="col-lg-6">
          <div class="thumbnail">
            <img src="./images/runJobsThumbnail3.gif" alt="view Questions">
            <div class="caption">
              <button type="button" class="btn btn-large btn-block btn-success" ng-click="redirectToViewQuestions()"><h4>WANT TO EXPLORE SOME QUESTIONS?</h4></button>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="thumbnail">
            <img src="./images/exploreQuestions.gif" alt="view Questions">
            <div class="caption">
              <button type="button" class="btn btn-large btn-block btn-success" ng-click="redirectToRunJobs()"><h4>RUN JOBS FOR EXISTING QUESTION PATTERNS</h4></button>
            </div>
          </div>
        </div>
      </div>
    </div>
