    <div class="container">
      <div class="row text-center">
        <h2><strong>Welcome to question generation app!</strong></h2>
      </div><!--end row-->
      <div class="row text-center">
        <p><em><small>Powered By</small> <span class="glyphicon glyphicon-globe disabled"></span></em></p>
        <img src="../images/background.png" alt="">
      </div>

      <div class="row text-center">
        <div class="col-lg-6">
          <div class="thumbnail">
            <div class="caption">
              <a href="" ng-click="redirectToViewQuestions()" class="btn btn-lg btn-block btn-primary"><span class="glyphicon glyphicon-share-alt"></span> EXPLORE QUESTIONS</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="thumbnail">
            <div class="caption">
              <a href="" ng-click="redirectToRunJobs()" class="btn btn-lg btn-block btn-success"><span class="glyphicon glyphicon-share-alt"></span> RUN JOBS FOR EXISTING QUESTION PATTERNS</a>
            </div>
          </div>
        </div>
      </div>
    </div>
