<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Question Generator</title>
  <head>
    <link href="stylesheets/runQuestionGenerationService.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
</head>
<body>
  <div class="text-center">
    <div class="container-fluid">
      <div class="page-header">
        <h2><strong>Hi, probably its time that we <span class="text-success">refresh</span> our phenomenal question database!</strong></h2>
      </div>

      <div class="panel panel-default">
        <div  class="panel-heading">
          <h2 class="text-info"><strong>CHECKOUT THE PATTERNS WE HAVE !</strong>  <span title="Total number of stubs availaible are {{totalStubs}}"><span class="badge">{{totalStubs}}</span></span></h2>
          <h4 class="text-success"><strong>Click on refresh button to refresh a particular question bank</strong></h4>
          <h4 class="text-danger"><strong>NOTE: You can run only one job at a time.</strong></h4>
        </div>

        <div class="panel-body text-left row">
          <div class="col-lg-1 text-center flip-in">
            <h4><strong>SNO</strong>
            </div>

            <div class="col-lg-5 flip-in">
              <h4><strong>QUESTION PATTERN</strong>
              </div>
              <div class="col-lg-1 text-left flip-in">
                <h4><strong>REFRESH</strong>
                </div>

                <div class="col-lg-2 text-left flip-in">
                  <h4><strong>LAST RUN</strong>
                  </div>

                  <div class="col-lg-3 text-left flip-in">
                    <h4><strong>STATUS</strong>
                    </div>

                    <hr class="divider">
                    <hr class="divider">
                    <div class="list-group row" ng-repeat="stubs in stubList">

                      <div class="col-lg-1 text-center flip-in">
                        <h4><strong>{{$index+1}}</strong>
                        </div>
                        <div class="col-lg-5 flip-in">
                          <h4><strong>{{stubs.questionStub.pre}} {{stubs.questionStub.var}} {{stubs.questionStub.post}}</strong>
                          </div>
                          <div class="col-lg-1 flip-in">
                            <span data-toggle="modal" ng-disabled="isDisabled" ng-click="setSelectedStub(stubs)"data-target="#modalForUserConfirmation" class="glyphicon glyphicon-refresh btn btn-lg " title="Refresh questions for this pattern" aria-hidden="true"></span></h4>
                          </div>
                          <div class="col-lg-2 flip-in">
                            <em><h4>{{(stubs['lastExecutedOn']| date: 'dd/MM/yyyy' )|| "Never executed"}} {{stubs['lastExecutedOn']| date:'HH:mm'}}</h4></em>
                          </div>
                          <div class="col-lg-3 flip-in">
                            <!-- <h3 ng-show="stubs['notExecuted']"><em>Not Executed</em></h3> -->
                            <img title="Job running" src="../images/runningJob.gif" ng-show="stubs['running']" alt="runningJob"/>
                            <img title="Job running" src="../images/completed.png" ng-show="stubs['executed']"/>
                          </div>

                        </div>
                      </div>


                      <!-- Modal -->
                      <div id="modalForUserConfirmation" class="modal fade text-center" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <strong>
                                <div ng-show="notFirstRefresh">
                                  <h3>You last refreshed this question bank on <span class="text-info">{{selectedStub['lastExecutedOn']| date: 'dd/MM/yyyy'}}</span> at <span class="text-info">{{selectedStub['lastExecutedOn']| date:'HH:mm'}}</span></h3>
                                  <h3 class="text-danger">Are you sure about refreshing this question bank?</h3>
                                </div>
                                <h3 ng-show="firstRefresh">You are generating questions of this pattern for the first time. Shall we go ahead?</h3>
                              </strong>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class=" text-center btn btn-lg btn-default" ng-click="refreshSlectedStubList()" data-dismiss="modal"><span class="glyphicon glyphicon-ok" title="Go Ahead!" aria-hidden="true"></span></button>
                              <button type="button" class=" text-center btn btn-lg btn-default"  ng-click="setTextForAlert()" data-dismiss="modal"><span class="glyphicon glyphicon-remove" title="Leave!" aria-hidden="true"></span></button>
                            </div>

                          </div>

                        </div>
                      </div><!--end modal-->

                      <!--  -->
                    </div>
                  </div>
                </body>
                </html>
