main {
  margin-top: 30px;
}

#search > h2 {
  margin-top: 0px;
}

/* List of classes */
.question:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

/* correct answer well */
.panel-footer {
  overflow: hidden;
  padding: 0px;
}
.panel-footer > * {
  margin: 0px;
}
.panel-footer input {
  font-size: 16px;
  padding: 10px 0px;
  font-weight: bolder;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}
.correctanswer {
  padding: 10px;
  background-color: rgba(116, 210, 116, 0.94);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  border-right: 1px solid #e3e3e3;
}
.correctanswer h4 {
  padding: 0px;
  margin: 0px;
}
