#spinner{
  opacity:.7;
  position:fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  background: url("../images/loading.gif") no-repeat center #240404;
  text-align: center;
  z-index: 2;
}

body{
  background: url("../images/background1.jpg");
  margin:auto;
}

#loadingText{
  opacity: 1;
  font-size: 50px;
}
