main {
  margin-top: 30px;
}

#search {
  width: inherit;
}

#searchForm > * {
  margin-left: 10px;
  padding: 3px;
}

#pageNo > .pagination {
  margin: 0px;
}

#pageNo > .pageTracker {
  text-align: right;
  margin: 25px 0px;
}

/* overiding default */
#questionContainer {
  /*overflow: scroll;*/
}
#questionList {
  width: inherit;
  margin-bottom: 0px;
}
#alertArea {
  display: none;
}

/*Animate hide and show area */
.animate-show {
  opacity: 1;
  line-height: normal;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
  line-height: 0;
}
/* End of angular animations*/

.divider:after {
  content: ' | ';
}
.modal-header * {
  display: inline-block;
}
.topics {
  display: inline-block;
  margin : 2px;
  padding: 2px;
}
#topicsWell {
  display: inline-block;
}
.form-inline > * {
  margin-top: 10px;
}
.wrapper {
  font-size: 14px;
  font-weight: normal;
  line-height: 0px;
  color: grey;
}
.wrapper::before {
  content: '(';
}
.wrapper:after {
  content: ')';
}

.alert {
  display: none;
}

.form-hidden {
  display: none;
}
.required {
  font-size: 18px;
}
.listButtons {
  display: inline-block;
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
}
.listButtons li:first-child {
  margin-bottom: 7px;
}
h1 {
  text-align: center;
}
